.quiz-graph {
 position: relative;
 text-align: left;
 float:left;
 padding: 10px;

}

.quiz-graph-bar {
 position: relative;
 text-align: center;
 float:left;
 padding: 40px;

}

.quiz-graph-pie {
 position: relative;
 text-align: left;
 float:left;
 padding: 10px;

}

.quiz-graph-summary {
 position: relative;
 text-align: center;
 float:left;
 padding: 40px;

}

.quiz-graph-li.list-group-item  {
 border: none;
}