.drawer {
  $drawer-width: 400px;
  $tabs-width: 100px;
  display: block;

  >div {
    box-sizing: border-box;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;

    z-index: 8;
    top: 0;
  }

  #panels {
    border-width: 1px;
    position: absolute;
    background:	#D3D3D3;
    right: $drawer-width*-1;
    width: $drawer-width;
    height:100%;

    &.visible {
      transform: translate3d($drawer-width*-1, 0, 0);
    }
  }

  #controls {
    position: absolute;
    right: 0;
    top: 30%;
    background-color: transparent;

    &.visible {
      transform: translate3d($drawer-width*-1, 0, 0);
    }
  }

  ul {
    width: $tabs-width;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      border: 1px solid;
      border-color: #aaa;
      padding: 6px 12px;
      position: relative;
      margin-bottom: -1px;
      background-color: white;
    }

    :last-child {
      border-radius: 0 0 0 5px;
    }

    :first-child {
      border-radius: 5px 0 0 0;
    }

  }
}
