.drawer {
  $drawer-width: 400px;
  $tabs-width: 100px;
  display: block;

  >div {
    box-sizing: border-box;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;
  }

  #panels {
    border-width: 1px;
    position: absolute;
    background:	#D3D3D3;
    right: $drawer-width*-1;
    width: $drawer-width;
    height:100%;
    z-index:2;
    top:0;


    &.visible {
      transform: translate3d($drawer-width*-1, 0, 0);
    }
  }

  #controls {
    float: right;

    &.visible {
      transform: translate3d($drawer-width*-1, 0, 0);
    }
  }

  ul {
    width: $tabs-width;
    list-style: none;
    padding-left: 0;

    li {
      border: 1px solid;
      border-color: #aaa;
      padding: 6px 12px;
      position: relative;
    }

    :last-child {
      border-radius: 0 0 0 5px;
    }

    :first-child {
      border-radius: 5px 0 0 0;
    }

  }
}
