body {
 color: #fff;
 text-align: center;
 text-shadow: 0 1px 3px rgba(0,0,0,.5);
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 1.42857143;
}

h1 {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.home-logo-splash {
 height: 300px;
 width: 300px;
}

.home-logo {
 height: 100%;
}

.feature-image {
 height: 250px;
}