body {
 /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
 color: #5a5a5a;*/
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 22px;
 line-height: 1.42857143;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.home-logo-splash {
 height: 300px;
 width: 300px;
}

.home-logo {
 height: 100%;
}

.marketing h2 {
  font-weight: normal;
}


.feature-image {
 height: 250px;
 padding-left: 0px;
 margin-left: 0px;
 
}

.featurette {
 text-align: center;

 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: block;
}

.featurette-heading {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
}

.lead {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.inner-cover {
  background-image: url("/images/handsup.png");
  background-size: 100% 100%;
}

.cover-heading {
  padding-top: 20px;
  padding-left: 50px;
}

hr.top-featurette {
  margin-top: 0px;
  margin-bottom: 2rem;
}

hr.featurette-divider {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.feature-summary-left {
 display: block-inline;
 width: 50%;
 margin: 30px;
 margin-right: 0px;
 margin-top: 35px;
 padding-left: 150px;
 padding-right: 0px;
 text-align: left;
}

.feature-summary-right {
 display: block-inline;
 width: 50%;
 margin: 30px;
 margin-right: 0px;
 margin-top: 35px;
 padding-left: 0px;
 padding-right: 60px;
 text-align: left;
 float: left;
}
/*
.feature-image-left {
 display: block-inline;
 width: 50%;
 padding: 10px;
 margin-left: 0px;
}
*/

.feature-image-right {
 height: 250px;
 padding-left: 0px;
 margin-left: 0px;
 
}

.feature-image-left {
 display: block-inline;
 width: 40%;
 padding: 10px;
 padding-right: 0px;
 padding-left: 150px;
 margin-left: 0px;
 float: right;
}

.feature-padding-left {
 display: block-inline;
 width: 15%;

}

