/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}


.navbar-brand {
  height: 110px;
}

.nav >li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


.top-navbar {
  background-color: #242E3A;
}


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
   -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
 top: 50%;
 display: block;
 position: relative;
 height: auto;
 transform: translate(0,-50%);
 margin-right: 15px;
  margin-left: 15px;
}

.navbar-static-top {
  z-index: 3;
}

.navbar-nav>li>.dropdown-menu {
 z-index: 3;
}

body {
  font-family: "Lato";
}
