.text-input-for-modal {
  position: fixed;
  bottom: 20px;
  height: 10%;
  width: 90%;
}

.chatBox {
  border: blue;
  position: relative;
  width: 90%;
}

.thumb-icon {
display: relative;
  text-align: center;
  font-size: 90px;
  margin: 10px;
}

.quiz-name {
  margin: 4px;
}

.quiz-item {
  margin: 5px;
}

.quiz-buttons {
  margin: 4px;
}