.text-input-for-modal {
  position: fixed;
  bottom: 20px;
  height: 10%;
  width: 100%;
}

.chatBox {
  border: blue;
  position: relative;
}

.thumb-icon {
  font-size: 22px;
  margin: 10px;
}

.quiz-item {
  margin: 3px;
}