@import 'bootstrap';
@import 'drawer';

body {
  overflow-x: hidden;
}

.TeacherControlPanel {
  position: fixed;
  bottom: 20px;
  left: 10px;

  button {
    margin-left: 10px;
  }
}

.user-video-link {
  font-size:200%;
  color:blue;
}
