@import 'bootstrap';
@import 'drawer';

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.TeacherControlPanel {
  position: fixed;
  bottom: 3vh;
  left: 3vw;

  button {
    margin-left: 1vw;
  }
}

.user-video-link {
  font-size:200%;
  color:blue;
}
