
.menu {
  $menu-width: 250px;
  height:100%;

  >div {
    position: absolute;
    background:	#D3D3D3;
    left: ($menu-width * -1);
    width: $menu-width;
    height:1000px;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;


    &.visible {
      transform: translate3d($menu-width, 0, 0);
    }
  }
}
